extends ../layout

block content
    h2 Frontend Test: Todo List

    h3 Objective
    p.
        Showcase of your technique, skill and business logic by
        creating a To-Do List. Your to-do list should feature a
        responsive design that includes an input field to add list
        items, a way to edit and delete items from the list and be
        able to mark items as completed. Additionally, you may add
        features such as the ability to create multiple lists and/or
        using a method of your choice, include a way to save the data
        so content is not lost on page refresh.

    h3 Requirements
    ul
        li An input field to add list items
        li A way to edit and delete items
        li A way to mark items as being completed
        li A responsive design for the list

    h3 Additional features
    ul
        li Add in the ability to create multiple different lists
        li Using a method of your choice (web storage for example),
        | find a way to save the data so content is not lost on page
        | refresh

    h3 Program Languages
    ul
        li React is preferred, however please used whichever
        | language(s) you feel most comfortable using.

    h3 Getting started
    p.
        A starting point has been created for you at
        #[a(href="/todo") #[code /todo]] so that you can get right into things.
    p.
        This starting point assumes you'll be using react, but feel free to
        replace the react initialization code in #[code index.js].

    hr
    p
        a(href="/") Back to the tests.
