extends ../layout

block content
    h2=title

    h3 Introduction
    p.
        Thank you for applying to LabX Media Group. As part of the application process
        we ask candidates to complete a technical task to show their skills in an
        environment much like the one we do our day-to-day work in.

    p.
        The exact test will vary from role-to-role, but all will consist of making
        modifications to this sample project.

    p.
        To begin, please select the role you are applying for from the list.

    h3 Tests
    ul
        li
            a(href="/frontend") Frontend
        li
            a(href="fullstack") Fullstack
